* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #F5F2EC;
}

header {
  height: 3.5rem;
  background-color: black;
  display: none;
  justify-content: end;
}
header .iconMenu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  align-items: center;
  background-color: #fff;
  margin: 0.4rem;
  font-size: 1.4rem;
  border: 1px solid #fff;
  transition: 1s;
}
header .iconMenu:hover {
  background-color: #000;
  color: #fff;
}

#detailInformation {
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 46rem;
  display: none;
}
#detailInformation .information {
  width: 30%;
  background-color: #fff;
  position: relative;
  z-index: 9;
  height: 35rem;
  display: flex;
  border-radius: 15px;
  align-items: center;
}
#detailInformation .information input {
  border-radius: 10px;
}
#detailInformation .information .imgProfile {
  width: 10rem;
  height: 10rem;
  margin: 0.5rem auto;
  border-radius: 50%;
  object-fit: cover;
}
#detailInformation .information .imgMovie {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem auto;
  border-radius: 50%;
  object-fit: cover;
}
#detailInformation .information #closed {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  transition: 1s;
  cursor: pointer;
}
#detailInformation .information #closed:hover {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}
#detailInformation .information form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35rem;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2px;
  background-color: black;
  box-shadow: 0px 2px 20px 0.2px #f6be00;
  color: #fff;
}
#detailInformation .information form button {
  font-size: 1.2rem;
  width: 150px;
  margin: 1rem 0;
  color: #fff;
  background-color: green;
  border-radius: 15px;
  transition: 1s;
  border: 1px solid green;
  padding: 6px;
}
#detailInformation .information form button:hover {
  background-color: #fff;
  color: green;
}
#detailInformation .information form button i {
  font-size: 1.3rem;
}

#commond {
  display: flex;
  gap: 25px;
}
#commond .commondPanel {
  background-color: #fff;
  overflow: hidden;
  min-height: 46.1rem;
  position: absolute;
  left: 0;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: 1s;
}
#commond .commondPanel a {
  width: 8rem;
  color: black;
  text-decoration: none;
  transition: 1s;
  display: flex;
}
#commond .commondPanel li {
  position: relative;
}
#commond .commondPanel:hover li {
  width: 10rem;
  position: relative;
}
#commond .commondPanel:hover li:hover a {
  color: #fff;
}
#commond .commondPanel:hover .logout {
  width: 10rem;
}
#commond .commondPanel nav {
  margin-top: 1.5rem;
}
#commond .commondPanel nav ul {
  margin: 0;
  padding: 0;
}
#commond .commondPanel nav ul li {
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  transition: 1s;
  width: 2.8rem;
  display: flex;
  overflow: hidden;
}
#commond .commondPanel nav ul li:hover {
  color: #fff;
  background-color: black;
  width: 10rem;
}
#commond .commondPanel nav ul li i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
#commond .commondPanel .logout {
  font-weight: 600;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  transition: 1s;
  width: 3rem;
  display: flex;
  overflow: hidden;
}
#commond .commondPanel .logout a {
  color: black;
  text-decoration: none;
  display: flex;
}
#commond .commondPanel .logout a span {
  width: 8rem;
}
#commond .commondPanel .logout:hover {
  color: #fff;
  background-color: red;
  width: 10rem;
}
#commond .commondPanel .logout:hover a {
  color: #fff !important;
}
#commond .commondPanel .logout i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
#commond #display {
  width: 100%;
  height: 46rem;
  overflow: scroll;
}
#commond #display .adminText {
  width: 100%;
  display: flex;
  justify-content: center;
}
#commond #display .adminText h4 {
  width: 72%;
  font-weight: bold;
  margin-top: 1.7rem;
}
#commond #display #content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#commond #display #content #srcUser {
  width: 30%;
  position: relative;
  margin: 1.5rem 0;
}
#commond #display #content #srcUser input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
#commond #display #content #srcUser button {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background-color: black;
  transition: 1s;
}
#commond #display #content #srcUser button:hover {
  background-color: #fff;
  color: black;
}
#commond #display #content #srcMovie {
  width: 30%;
  position: relative;
  margin: 1.5rem 0;
}
#commond #display #content #srcMovie input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
#commond #display #content #srcMovie button {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background-color: black;
  transition: 1s;
}
#commond #display #content #srcMovie button:hover {
  background-color: #fff;
  color: black;
}
#commond #display #content table,
#commond #display #content tr,
#commond #display #content th,
#commond #display #content td {
  border: 1px solid black;
  text-align: center;
}
#commond #display #content table i,
#commond #display #content tr i,
#commond #display #content th i,
#commond #display #content td i {
  margin: 0 0.5rem;
}
#commond #display #content table .handleBtn,
#commond #display #content tr .handleBtn,
#commond #display #content th .handleBtn,
#commond #display #content td .handleBtn {
  background-color: red;
  color: #fff;
  transition: 1s;
  border: 1px solid #fff;
}
#commond #display #content table .handleBtn:hover,
#commond #display #content tr .handleBtn:hover,
#commond #display #content th .handleBtn:hover,
#commond #display #content td .handleBtn:hover {
  color: red;
}
#commond #display #content table .activeTrend,
#commond #display #content tr .activeTrend,
#commond #display #content th .activeTrend,
#commond #display #content td .activeTrend {
  background-color: green;
  color: #fff;
  transition: 1s;
  border: 1px solid green;
}
#commond #display #content .option {
  display: flex;
  align-items: center;
  border: none;
  height: 7rem;
}
#commond #display #content .option button {
  width: 6rem;
  height: 3rem;
}
#commond #display #content th,
#commond #display #content td {
  padding: 10px;
}
#commond #display #content th .img,
#commond #display #content td .img {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
#commond #display #content th .img img,
#commond #display #content td .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#commond #display #content table {
  text-align: left;
  width: 50%;
  max-height: 500px;
}
#commond #display #content table .optionBtn {
  height: 7.2rem;
  border: none;
}
#commond #display #content table .pencil {
  width: 2.5rem;
  cursor: pointer;
}
#commond #display #content table #red {
  max-height: 500px;
  overflow-y: scroll;
  display: block;
}
#commond #display #content table button {
  color: #fff;
  background-color: red;
  border-radius: 10px;
  transition: 1s;
  padding: 7px;
  display: flex;
  align-items: center;
  height: 3rem;
  border: 1px solid red;
}
#commond #display #content table button:hover {
  color: red;
  background-color: #fff;
}

#getCategory {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 0.2px #f6be00;
  background-color: black;
  color: #fff;
}
#getCategory label {
  cursor: pointer;
  font-weight: 600;
}
#getCategory input {
  border-radius: 20px;
  padding: 7px 10px;
}
#getCategory button {
  background-color: #f6be00;
  color: black;
  width: 150px;
  transition: 1s;
  padding: 7px;
  border: 2px solid #f6be00;
  border-radius: 20px;
  margin: 1rem 0;
}
#getCategory button:hover {
  background-color: black;
  color: #f6be00;
}

#getUsers {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 0.2px #f6be00;
  background-color: black;
  color: #fff;
}
#getUsers label {
  cursor: pointer;
  font-weight: 600;
}
#getUsers input {
  border-radius: 20px;
  padding: 7px 10px;
}
#getUsers button {
  background-color: #f6be00;
  color: black;
  width: 150px;
  transition: 1s;
  padding: 7px;
  border: 2px solid #f6be00;
  border-radius: 20px;
  margin: 1rem 0;
}
#getUsers button:hover {
  background-color: black;
  color: #f6be00;
}

#createMovie {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #f6be00;
  background-color: black;
  color: #fff;
  gap: 10px;
  box-shadow: 0 2px 20px 0.2px #f6be00;
  padding: 20px;
  border-radius: 20px;
}
#createMovie .contentForm {
  display: flex;
  justify-content: space-between;
}
#createMovie .formBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
#createMovie input {
  padding: 7px;
  border-radius: 20px;
  width: 100%;
}
#createMovie label {
  cursor: pointer;
}
#createMovie button {
  margin: 1rem 0;
  width: 10rem;
  padding: 7px;
  border: 1px solid #f6be00;
  border-radius: 15px;
  background-color: #fff;
  color: black;
  font-weight: 600;
  transition: 1s;
}
#createMovie button:hover {
  background-color: #f6be00;
}

.informationMovie {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #fff;
  box-shadow: 0px 2px 20px 0.2px #f6be00;
  padding: 25px;
  border-radius: 10px;
  z-index: 999;
  width: 50%;
  position: relative;
}
.informationMovie #closed {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  transition: 1s;
  cursor: pointer;
}
.informationMovie #closed:hover {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}
.informationMovie .contentForm {
  display: flex;
  justify-content: space-around;
}
.informationMovie .contentForm .formBox {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 5px;
}
.informationMovie .contentForm .formBox #imgDetailMovie {
  width: 250px;
  height: 149px;
  object-fit: cover;
  margin: 1rem 0;
  border-radius: 7px;
}
.informationMovie .contentForm .formBox input {
  border-radius: 7px;
  padding: 5px;
}
.informationMovie .contentForm .formBox button {
  margin: 1rem 0;
  width: 10rem;
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: green;
  color: #fff;
  font-weight: 600;
  transition: 1s;
}
.informationMovie .contentForm .formBox button:hover {
  background-color: #fff;
  color: green;
  border: 1px solid #000;
}

.trendBtn {
  display: flex;
  justify-content: center;
}

@keyframes menuAnimation {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 767px) {
  .informationMovie {
    width: 95%;
  }
  .informationMovie .contentForm .formBox #imgDetailMovie {
    width: 150px;
    height: 100px;
  }
  .informationMovie .contentForm .formBox button {
    width: 8.5rem;
  }
  #detailInformation .information {
    width: 85%;
  }
  #commond #display #content #srcMovie {
    width: 80%;
  }
  #commond #display #content table {
    width: 70%;
  }
  #getUsers {
    width: 80%;
  }
  label {
    font-size: 15px;
  }
  .duration {
    font-size: 13px;
  }
  #createMovie {
    width: 90%;
    margin: 1rem 0;
  }
  #commond #display #content .option {
    border: 1px solid black;
    justify-content: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  header h4 {
    color: #fff;
  }
  #getCategory {
    width: 80%;
  }
  #commond #display .adminText h4 {
    display: none;
  }
  #commond .commondPanel {
    width: 12rem;
    display: none;
    z-index: 9;
    animation: menuAnimation 1s forwards;
  }
  #commond .commondPanel nav ul li {
    width: 10rem;
  }
  #commond #display #content #srcUser {
    width: 85%;
  }
  #commond #display #content table .optionBtn {
    border: 1px solid black;
  }
  td {
    display: block;
  }
  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
  th {
    display: none;
  }
  .optionBtn {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #detailInformation .information {
    width: 60%;
  }
  #commond #display #content #srcUser {
    width: 65%;
  }
  #commond #display #content {
    padding: 10px;
  }
  #commond #display #content th,
  #commond #display #content td {
    padding: 2px;
  }
  #commond #display #content table {
    width: 89%;
  }
  #commond #display #content table {
    align-self: flex-end;
  }
}