header {
  background-color: black;
  padding: 20px;
}
header .closedSett {
  display: none !important;
}
header #settAcc {
  width: 98.7%;
  position: absolute;
  background-color: rgb(48, 48, 48);
  color: #f6be00;
  top: 4rem;
  z-index: 9999;
  font-weight: 600;
  display: none;
  justify-content: center;
  align-items: center;
  height: 50rem;
  border-radius: 10px;
  padding: 20px;
}
header #settAcc #SettingsChange {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
header #settAcc .image {
  display: flex;
  flex-direction: column;
}
header #settAcc .image input {
  border-radius: 10px;
  border: none;
  padding: 5px;
}
header #settAcc .contentSet {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: 0 1.5rem;
}
header #settAcc .contentSet input {
  border-radius: 10px;
  padding: 5px;
  border: none;
}
header #settAcc button {
  color: #fff;
  background-color: green;
  border-radius: 10px;
  margin: 1rem 0;
  width: 150px;
  font-weight: 600;
  padding: 10px;
  border: 2px solid green;
  transition: 1s;
}
header #settAcc button:hover {
  background-color: #fff;
  color: green;
}
header #settAcc #closeSett {
  color: red;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.7rem;
  cursor: pointer;
  border: 2px solid red;
  transition: 1s;
}
header #settAcc #closeSett:hover {
  background-color: red;
  color: #fff;
}
header #settAcc img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 1.5rem;
}
header .profileUser {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9;
  position: relative;
}
header .profileUser:hover .accountSettinngs {
  display: flex;
}
header .profileUser .accountSettinngs {
  position: absolute;
  top: 2rem;
  background-color: black;
  width: 150px;
  left: -4rem;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #f6be00;
  animation: headerAnime 1s forwards;
}
header .profileUser .accountSettinngs span {
  color: #fff;
  cursor: pointer;
}
header .profileUser .accountSettinngs span:hover {
  color: #f6be00;
}
header .profileUser .accountSettinngs span:hover i {
  color: #f6be00;
}
header .profileUser .accountSettinngs .logOut {
  display: flex;
}
header .profileUser .accountSettinngs .logOut:hover {
  color: red;
}
header .profileUser .accountSettinngs .logOut:hover i {
  color: red;
}
header .profileUser span {
  color: #f6be00;
  display: flex;
  align-items: center;
}
header .profileUser span i:hover {
  color: #f6be00;
}
header .profileUser img {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .logo {
  display: flex;
  gap: 20px;
}
header .container .logo .welcome {
  width: 30%;
  background-color: black;
  border: 1px solid #f6be00;
  height: 3.5rem;
  top: 4rem;
  position: absolute;
  z-index: 9;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;
  gap: 25px;
  color: #f6be00;
  border-radius: 10px;
  animation: headerAnime 1s forwards;
}
header .container .logo .welcome .userNameAcc {
  color: #f6be00;
  display: flex;
  align-items: center;
  gap: 15px;
}
header .container .logo .welcome .userNameAcc img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}
header .container .logo .welcome .userNameAcc span {
  font-weight: bold;
}
header .container nav {
  width: 50rem;
}
header .container nav ul {
  display: flex;
  width: 45%;
  justify-content: space-around;
  margin: 0;
}
header .container nav ul li a {
  color: #fff;
  transition: 1s;
  font-weight: 500;
  position: relative;
}
header .container nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: yellow;
  top: 25px;
  transition: 1s;
}
header .container nav ul li a:hover {
  color: yellow;
}
header .container nav ul li a:hover::before {
  width: 100%;
}
header .container .added a i {
  color: #fff;
  transition: 1s;
}
header .container .added a i:hover {
  color: #f6be00;
}
header .container .add-list {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 25px;
  z-index: 5;
  position: relative;
}
header .container .add-list #logReg:hover .miniMenu {
  display: block;
}
header .container .add-list #wishAlert {
  position: absolute;
  width: 15rem;
  text-align: center;
  top: 2rem;
  left: -7.3rem;
  color: #fff;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: #f6be00;
  border: 1px solid #f6be00;
  display: none;
}
header .container .add-list .wishHead {
  position: relative;
}
header .container .add-list .wishHead .wish {
  position: absolute;
  top: 1.5rem;
  left: -15rem;
  width: 20rem;
  animation: headerAnime 1s forwards;
  border-radius: 10px;
  border: 1px solid #f6be00;
  display: none;
}
header .container .add-list .wishHead .wish #wishListen {
  width: 100%;
  background-color: black;
  padding: 10px;
  height: 260px;
  overflow: hidden;
  cursor: default;
  overflow-y: scroll;
  border-radius: 10px;
}
header .container .add-list .wishHead .wish #wishListen .wishBox {
  display: flex;
  gap: 15px;
  margin: 7px;
  background-color: black;
  transition: 1s;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
header .container .add-list .wishHead .wish #wishListen .wishBox:hover {
  box-shadow: 0 2px 20px 0.2px #f6be00;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .addOption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0.5rem;
  padding: 4px;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .addOption .plays:hover {
  color: #f6be00;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .removeWish {
  color: #f6be00;
  font-size: 1rem;
  transition: 1s;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .removeWish:hover {
  color: red;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .content {
  display: flex;
  flex-direction: column;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .playIcon {
  margin-right: 1.5rem;
  transition: 1s;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .playIcon:hover {
  color: #f6be00;
}
header .container .add-list .wishHead .wish #wishListen .wishBox img {
  width: 4rem;
  object-fit: cover;
  border-radius: 10px;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .movieName {
  cursor: pointer;
}
header .container .add-list .wishHead .wish #wishListen .wishBox .play:hover {
  color: #f6be00;
}
header .container .add-list .wishHead .wish #wishListen .wishBox span {
  color: #fff;
  transition: 1s;
}
header .container .add-list .wishHead .wish #wishListen .wishBox span i {
  margin-right: 0.5rem;
}
header .container .add-list .wishHead .wish #wishListen .wishBox span i:hover {
  color: #fff;
}
header .container .add-list .wishHead .wish #wishListen .wishBox span:hover {
  color: #f6be00;
}
header .container .add-list .miniMenu {
  background-color: black;
  position: absolute;
  top: 1.7rem;
  border-radius: 10px;
  border: 1px solid #f6be00;
  left: -1rem;
  display: none;
  animation: headerAnime 1s forwards;
}
header .container .add-list .miniMenu ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 8rem;
  border-radius: 10px;
}
header .container .add-list .miniMenu ul li {
  padding: 10px;
}
header .container .add-list .miniMenu ul li a {
  color: #fff;
  transition: 1s;
}
header .container .add-list .miniMenu ul li a:hover {
  color: #f6be00;
}
header .container .add-list .miniMenu ul li a:hover i {
  color: #f6be00;
}
header .container #wishlist {
  position: relative;
}
header .container #wishlist:hover #wishLength {
  background-color: yellow;
}
header .container #wishlist #wishLength {
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #fff;
  color: black;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -18px;
  right: -20px;
  transition: 1s;
}
header .container i {
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  transition: 1s;
}
header .container i:hover {
  color: black;
}

.headerFix {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 9999;
  animation: headerAnime 2s forwards;
}
.headerFix .add-list a i:hover {
  color: #f6be00;
}

@keyframes headerAnime {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes menuAnime {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menuAnimeHide {
  from {
    transform: translatex(0);
    opacity: 1;
  }
  to {
    transform: translatex(-200px);
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  header .container .add-list #wishAlert {
    top: -12.5rem !important;
    left: 6.7rem !important;
    z-index: 9999;
  }
  header .container .add-list .wishHead .wish {
    width: 16.5rem !important;
  }
  header #settAcc img {
    width: 10rem;
    height: 10rem;
  }
  header #settAcc .contentSet {
    width: 100%;
  }
  header #settAcc {
    width: 95.7%;
    align-items: flex-start;
  }
  header #settAcc #SettingsChange {
    flex-wrap: wrap;
    justify-content: center;
  }
  header #settAcc .image input {
    margin: 1rem 0;
    width: 100%;
  }
  header .profileUser img {
    width: 2rem !important;
  }
  header .container .logo img {
    width: 5rem;
  }
  #hero .container {
    height: auto;
  }
  #hero .container .content h1 {
    font-size: 2rem !important;
  }
  #hero .container .content .raiting {
    flex-wrap: wrap;
  }
  header .container .logo .welcome {
    width: 80%;
  }
  .menBurger {
    width: 100%;
  }
  header .container nav {
    background-color: black;
    position: absolute;
    left: 0;
    top: 3.6rem;
    display: none;
    width: 70%;
    height: 100vh;
    z-index: 999;
    border: 1px solid #f6be00;
    border-radius: 10px;
    animation: menuAnime 1s ease forwards;
  }
  #burgerIcon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: black;
  }
  #burgerIcon:hover {
    color: #fff;
  }
  header .container nav ul {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90%;
  }
  header .container .add-list {
    position: absolute;
    left: 0;
    z-index: 9999;
    top: 16rem;
    animation: menuAnime 1s ease forwards;
    gap: 20px;
    display: none;
    margin-left: 1.5rem;
  }
  header .container .add-list i:hover {
    color: #fff;
  }
}
/* Tablets */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#moviePlayer {
  padding: 1rem 0;
  background-color: black;
  color: #fff;
  position: relative;
}
#moviePlayer #movieAnime {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
#moviePlayer #movieAnime img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
#moviePlayer #payment {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 99;
  top: 15rem;
  height: 20rem;
  left: 33%;
  border: 1px solid #f6be00;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 25px;
  gap: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#moviePlayer #payment .moneyAlert {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: red;
}
#moviePlayer #payment #closePayment {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 1.3rem;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.5s;
}
#moviePlayer #payment #closePayment:hover {
  border: 2px solid #f6be00;
  color: #000;
  background-color: #f6be00;
}
#moviePlayer #payment .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
#moviePlayer #payment .buttons button {
  transition: 1s;
  padding: 5px 20px;
  border-radius: 10px;
  margin-top: 1rem;
  font-weight: 600;
}
#moviePlayer #payment .buttons .yes {
  background-color: #f6be00;
  color: #000;
  border: 1px solid black;
}
#moviePlayer #payment .buttons .yes:hover {
  color: #f6be00;
  background-color: #000;
  border: 1px solid #f6be00;
}
#moviePlayer #payment .buttons .no {
  background-color: #000;
  color: #f6be00;
  border: 1px solid #f6be00;
}
#moviePlayer #payment .buttons .no:hover {
  color: #000;
  background-color: #f6be00;
  border: 1px solid #000;
}
#moviePlayer #watch {
  width: 100%;
  display: flex;
  justify-content: center;
}
#moviePlayer #popup-container {
  position: absolute;
  top: 14rem;
  z-index: 999;
  display: none;
  justify-content: center;
}
#moviePlayer #popup-container #closed {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: -20px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f6be00;
  border: 2px solid #f6be00;
  color: #000;
  cursor: pointer;
  transition: 1s;
}
#moviePlayer #popup-container #closed:hover {
  background-color: #000;
  color: #f6be00;
  border: 2px solid #f6be00;
}
#moviePlayer .elegal {
  z-index: 999;
  background-color: red;
  width: 20rem;
}
#moviePlayer .elegal iframe {
  position: absolute;
  top: 0;
  width: 25rem;
}
#moviePlayer .container {
  position: relative;
}
#moviePlayer .container img {
  width: 100%;
  object-fit: cover;
  height: 45rem;
}
#moviePlayer .container .content {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
#moviePlayer .container .content .informationMovie {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#moviePlayer .container .content .informationMovie .fa-thumbs-up {
  color: #f6be00;
}
#moviePlayer .container .content .informationMovie h2 {
  font-weight: bold;
  font-size: 2.5rem;
}
#moviePlayer .container .content .informationMovie p {
  font-size: 1.1rem;
}
#moviePlayer .container .content .informationMovie p span {
  color: #f6be00;
}
#moviePlayer .container .content .informationMovie p .added {
  cursor: pointer;
}
#moviePlayer .container .content .informationMovie p .starIMDB {
  color: #f6be00;
}
#moviePlayer .container .content .informationMovie button {
  width: 200px;
  padding: 10px;
  background-color: #f6be00;
  border-radius: 10px;
  border: 1px solid #f6be00;
  color: #000;
  transition: 1s;
  font-weight: 500;
}
#moviePlayer .container .content .informationMovie button:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
#moviePlayer .container .content .play {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  position: relative;
}
#moviePlayer .container .content .play:after {
  content: "";
  position: absolute;
  animation: animePlay 2s infinite;
  width: 4rem;
  height: 4rem;
  background-color: #f6be00;
  border-radius: 50%;
}
#moviePlayer .container .content .play i {
  font-size: 1.3rem;
  transition: 1s;
  width: 4rem;
  height: 4rem;
  background-color: #f6be00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
  position: relative;
  color: rgb(48, 48, 48);
  z-index: 999;
}
#moviePlayer .container .content .play i:hover {
  color: #fff;
}

#descriptions {
  background-color: black;
  color: #fff;
  padding: 1rem 0;
}
#descriptions .container h5 {
  width: 155px;
  background-color: #f6be00;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  color: #000;
  margin: 1rem 0;
}
#descriptions .container #description h6 {
  font-size: 1.5rem;
}
#descriptions .container #description p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  #trending .container .head p {
    text-align: center;
  }
  #moviePlayer #payment {
    left: 15%;
    width: 70%;
    z-index: 9999;
  }
  #moviePlayer #popup-container {
    width: 100%;
  }
  #moviePlayer .container .content .informationMovie h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  #moviePlayer .container img {
    height: 55rem;
  }
  #moviePlayer .container .content {
    height: auto !important;
  }
  header .container nav ul {
    justify-content: flex-start;
  }
  #moviePlayer .container .content .informationMovie {
    width: 95%;
  }
  #moviePlayer #movieAnime img {
    width: 15rem;
    height: 15rem;
  }
  #moviePlayer #movieAnime {
    height: 15rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topTrend #categoryTrend .swipperSlide {
    width: 300px !important;
  }
}
#movieAnime {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 98%;
  display: none;
  justify-content: center;
  align-items: end;
  height: 42rem;
}
#movieAnime img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

#srcMovieSec {
  background-color: black;
  width: 100%;
}
#srcMovieSec .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
#srcMovieSec .container .filterSec {
  width: 78%;
  margin: 1rem 0;
  display: flex;
  align-items: end;
  flex-direction: column;
}
#srcMovieSec .container .filterSec button {
  border-radius: 10px;
  background-color: #f6be00;
  color: black;
  font-weight: 600;
  border: 1px solid #f6be00;
}
#srcMovieSec .container .filterSec button:hover {
  background-color: black;
  color: #f6be00;
}
#srcMovieSec .container .filterSec .content {
  align-self: flex-start;
  display: none;
  flex-wrap: wrap;
  animation: filterAnimer 1.5s forwards;
  gap: 1rem;
}
#srcMovieSec .container .filterSec .content input,
#srcMovieSec .container .filterSec .content label {
  cursor: pointer;
}
#srcMovieSec .container .filterSec .content .choose {
  width: 15rem;
  border: 1px solid #f6be00;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 1rem 0;
  gap: 10px;
  height: 45.6px !important;
  height: auto;
  border-radius: 10px;
  transition: 1s;
}
#srcMovieSec .container .filterSec .content .choose:hover {
  box-shadow: 0px 2px 20px 0.2px #f6be00;
}
#srcMovieSec .container .filterSec .content .choose .active:after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #f6be00;
  position: absolute;
  border-radius: 50%;
  top: 3px;
}
#srcMovieSec .container .filterSec .content .choose input {
  position: relative;
  display: none;
}
#srcMovieSec .container #srcMovie {
  position: relative;
}
#srcMovieSec .container #srcMovie input {
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #f6be00;
  width: 550px;
}
#srcMovieSec .container #srcMovie button {
  width: 120px;
  background-color: #f6be00;
  font-weight: 500;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  transition: 1s;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 3px solid #f6be00;
}
#srcMovieSec .container #srcMovie button:hover {
  background-color: black;
  color: #f6be00;
}

body {
  background-color: black;
}

.alert {
  padding: 10px;
  width: 50%;
  border: 1px solid red;
  background-color: red;
  color: #fff;
  margin: 0 auto;
  height: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

@keyframes filterAnimer {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 767px) {
  .alert {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
  }
  #srcMovieSec .container .filterSec .content {
    gap: 0;
    justify-content: center;
  }
  #srcMovieSec .container #srcMovie button {
    width: 90px;
  }
  #movies .container #moviesProducts {
    justify-content: center;
  }
  #srcMovieSec .container #srcMovie {
    width: 90%;
    margin: 0 auto;
  }
  #srcMovieSec .container #srcMovie input {
    width: 100%;
  }
  #movies {
    padding: 0 !important;
  }
  #movieAnime {
    height: 39rem;
    width: 100%;
  }
  #movieAnime img {
    width: 15rem;
    height: 15rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #movies .container #moviesProducts {
    justify-content: center;
  }
  .alert {
    height: 7rem;
    display: flex;
    align-items: center;
  }
}
#loginSec .container {
  color: #fff;
  background-color: rgb(11, 11, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginSec .container h1 {
  text-align: center;
  margin: 1.5rem 0;
}
#loginSec .container #loginGet {
  display: flex;
  flex-direction: column;
  width: 518px;
  gap: 15px;
  box-shadow: 0 2px 20px 0.2px #f6be00;
  padding: 20px;
  border-radius: 10px;
}
#loginSec .container #loginGet .alertFalse {
  color: #fff;
  text-align: center;
  padding: 5px;
  display: none;
  border-radius: 10px;
  font-weight: 500;
}
#loginSec .container #loginGet .paswordContent {
  width: 100%;
  position: relative;
}
#loginSec .container #loginGet .paswordContent input {
  width: 100%;
}
#loginSec .container #loginGet .paswordContent #seenPass {
  position: absolute;
  right: 1rem;
  z-index: 9;
  top: 10px;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}
#loginSec .container #loginGet .remmeber {
  display: flex;
  gap: 10px;
}
#loginSec .container #loginGet .remmeber #rememberMe {
  border-radius: 50% !important;
}
#loginSec .container #loginGet .remmeber input,
#loginSec .container #loginGet .remmeber label {
  cursor: pointer;
}
#loginSec .container #loginGet input {
  padding: 10px;
  border: 1px solid #f6be00;
  border-radius: 10px;
}
#loginSec .container #loginGet button {
  background-color: black;
  color: #f6be00;
  padding: 10px;
  border: 1px solid #f6be00;
  transition: 1s;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
#loginSec .container #loginGet button:hover {
  background-color: #f6be00;
  color: black;
}
#loginSec .container #loginGet a {
  color: #f6be00;
  text-align: center;
  margin: 1rem 0;
  text-decoration: underline !important;
}
#loginSec .container #loginGet a:hover {
  text-decoration: none !important;
}

@media only screen and (max-width: 767px) {
  header .container .add-list .wishHead .wish {
    width: 18rem;
    left: -6rem;
    top: 2.5rem;
  }
  #loginSec .container #loginGet {
    width: 100%;
  }
}
#addSec .container h2 {
  text-align: center;
  color: #fff;
  margin: 1.5rem 0;
}
#addSec .container #addSaveList .addBox {
  display: flex;
  margin: 1rem 0;
  border: 1px solid #f6be00;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}
#addSec .container #addSaveList .addBox:hover {
  box-shadow: 0 2px 20px 0.2px #f6be00;
}
#addSec .container #addSaveList .addBox img {
  width: 10rem;
  border-radius: 10px;
  object-fit: cover;
}
#addSec .container #addSaveList .addBox .content {
  width: 100%;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
#addSec .container #addSaveList .addBox .content .getMovie {
  cursor: pointer;
  transition: 1s;
}
#addSec .container #addSaveList .addBox .content .getMovie:hover {
  color: #f6be00;
}
#addSec .container #addSaveList .addBox .content .option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#addSec .container #addSaveList .addBox .content .option i {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#addSec .container #addSaveList .addBox .content .option .removeAdd {
  border-radius: 50%;
  border: 1px solid #f6be00;
  color: #f6be00;
  transition: 1s;
}
#addSec .container #addSaveList .addBox .content .option .removeAdd:hover {
  background-color: #f6be00;
  color: #000;
}
#addSec .container #addSaveList .addBox .content .option .plays {
  font-size: 1.5rem;
  transition: 1s;
}
#addSec .container #addSaveList .addBox .content .option .plays:hover {
  color: #f6be00;
}

@media only screen and (max-width: 767px) {
  #addSec .container #addSaveList .addBox {
    flex-wrap: wrap;
  }
  #addSec .container #addSaveList .addBox img {
    width: 100%;
  }
}
* {
  list-style-type: none;
  text-decoration: none !important;
}

#hero {
  background-color: black;
  color: #fff;
  height: 45rem;
  display: flex;
  align-items: center;
}
#hero::before {
  content: "";
  height: 49.4rem;
  width: 26%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #f6be00;
}
#hero .container {
  background-image: url("../../../assets/Image/01.png");
  display: flex;
  z-index: 3;
  background-repeat: no-repeat;
  height: 37rem;
  background-size: cover;
}
#hero .container .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .container .content h1 {
  font-size: 3.5rem;
}
#hero .container .content .date {
  font-size: 1.2rem;
}
#hero .container .content .raiting {
  display: flex;
  align-items: center;
  gap: 20px;
}
#hero .container .content .raiting .imdbImg {
  display: flex;
  gap: 10px;
  padding: 10px;
  font-weight: 700;
  align-items: center;
  background-color: rgb(48, 48, 48);
}
#hero .container .content .raiting .imdbImg img {
  width: 3rem;
  height: 1rem;
}
#hero .container .content .raiting .addIcons {
  display: flex;
  gap: 20px;
}
#hero .container .content .raiting .addIcons a i {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(48, 48, 48);
  transition: 1s;
  color: #fff;
}
#hero .container .content .raiting .addIcons a i:hover {
  background-color: yellow;
  color: black;
}
#hero .container .content .textHero {
  display: flex;
  gap: 25px;
  margin: 0.5rem 0;
}
#hero .container .content .duty {
  font-weight: bold;
}
#hero .container .content .buttons {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#hero .container .content .buttons button {
  padding: 15px;
  border-radius: 20px;
  width: 150px;
  height: 3rem;
  display: flex;
  align-items: center;
}
#hero .container .content .buttons button i {
  margin: 0 0.5rem;
}
#hero .container .content .buttons button .addList {
  color: #fff;
  background-color: rgb(48, 48, 48);
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 1s;
}
#hero .container .content .buttons .playBtn {
  justify-content: center;
  background-color: #f6be00;
  position: relative;
  border: 1px solid #f6be00;
  transition: 1s;
}
#hero .container .content .buttons .playBtn:hover {
  background-color: #fff;
}
#hero .container .content .buttons .addBtn {
  border: 1px solid #fff;
  transition: 1s;
}
#hero .container .content .buttons .addBtn:hover {
  background-color: #f6be00;
  border: 1px solid #f6be00;
}
#hero .container .play {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  position: relative;
}
#hero .container .play:after {
  content: "";
  position: absolute;
  animation: animePlay 2s infinite;
  width: 4rem;
  height: 4rem;
  background-color: #f6be00;
  border-radius: 50%;
}
#hero .container .play i {
  font-size: 1.3rem;
  transition: 1s;
  width: 4rem;
  height: 4rem;
  background-color: #f6be00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
  position: relative;
  color: rgb(48, 48, 48);
  z-index: 999;
}
#hero .container .play i:hover {
  color: #fff;
}

#trending {
  background-color: rgb(11, 11, 13);
  padding: 1rem 0;
  position: relative;
  z-index: 9;
}
#trending .container .head {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
#trending .container .head h2 {
  color: #f6be00;
  font-weight: 500;
  font-size: 35px;
  position: relative;
}
#trending .container .head h2::after {
  position: absolute;
  left: 0;
  bottom: -0.7rem;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f6be00;
}
#trending .container .head p a {
  color: #fff;
  opacity: 0.7;
  margin: 0;
  transition: 1s;
  cursor: pointer;
}
#trending .container .head p a:hover {
  opacity: 1;
  color: #f6be00;
}

.topTrend {
  position: relative;
  height: 100%;
  margin: 25px 0;
  padding: 25px 0;
}
.topTrend #categoryTrend {
  overflow: hidden;
}
.topTrend #categoryTrend .swiper-pagination-bullet-active {
  background-color: #f6be00;
}
.topTrend #categoryTrend .swiper-pagination {
  margin: 1rem 0;
}
.topTrend #categoryTrend .swiper-button-next {
  color: #f6be00;
}
.topTrend #categoryTrend .swiper-button-prev {
  color: #f6be00;
}
.topTrend #categoryTrend .swipperSlide {
  position: relative;
  width: 30.5%;
  overflow: hidden;
}
.topTrend #categoryTrend .swipperSlide:hover .detailInfo {
  visibility: visible;
  opacity: 1;
}
.topTrend #categoryTrend .swipperSlide:hover img {
  scale: 1.2;
}
.topTrend #categoryTrend .swipperSlide .swiper-button-prev {
  color: #f6be00;
}
.topTrend #categoryTrend .swipperSlide img {
  width: 100%;
  object-fit: cover;
  height: 350px;
  transition: 5s;
}
.topTrend #categoryTrend .swipperSlide .detailInfo {
  opacity: 0;
  visibility: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  transition: 1s;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .wish {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 1s;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .wish:hover {
  color: #f6be00;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .wish .play:hover {
  color: #f6be00;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .content p a {
  cursor: pointer;
  transition: 1s;
  color: #fff;
  font-weight: 500;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .content p a:hover {
  color: #f6be00;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .content .plays {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  transition: 1s;
}
.topTrend #categoryTrend .swipperSlide .detailInfo .content .plays:hover {
  background-color: #f6be00;
  color: #fff;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

#category {
  height: 40rem;
  background-color: #000;
  display: flex;
  align-items: center;
}
#category .container .head {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
#category .container .head h2 {
  color: #f6be00;
  font-weight: 500;
  font-size: 35px;
  position: relative;
}
#category .container .head h2::after {
  position: absolute;
  left: 0;
  bottom: -0.7rem;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f6be00;
}
#category .container #content {
  display: flex;
  flex-wrap: wrap;
}
#category .container #content .row .col-xl-3 .categoryBox {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#category .container #content .row .col-xl-3 .categoryBox:hover .action::after {
  width: 100%;
}
#category .container #content .row .col-xl-3 .categoryBox:hover .imgCat {
  scale: 1.3;
}
#category .container #content .row .col-xl-3 .categoryBox:hover .action::before {
  width: 100%;
}
#category .container #content .row .col-xl-3 .categoryBox:hover .action {
  visibility: visible;
  opacity: 1;
}
#category .container #content .row .col-xl-3 .categoryBox:hover .action p::after {
  height: 100%;
}
#category .container #content .row .col-xl-3 .categoryBox:hover .action p::before {
  height: 100%;
}
#category .container #content .row .col-xl-3 .categoryBox .action {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 89%;
  height: 89%;
  margin: 1rem;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: 1s;
  z-index: 999;
}
#category .container #content .row .col-xl-3 .categoryBox .action::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #f6be00;
  top: 0;
  left: 0;
  transition: 1s;
}
#category .container #content .row .col-xl-3 .categoryBox .action::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #f6be00;
  bottom: 0;
  right: 0;
  transition: 1s;
}
#category .container #content .row .col-xl-3 .categoryBox .action img {
  width: 5rem;
}
#category .container #content .row .col-xl-3 .categoryBox .action p {
  color: #f6be00;
  font-size: 2rem;
}
#category .container #content .row .col-xl-3 .categoryBox .action p::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 0;
  background-color: #f6be00;
  bottom: 0;
  left: 0;
  transition: 1s;
}
#category .container #content .row .col-xl-3 .categoryBox .action p::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 0;
  background-color: #f6be00;
  top: 0;
  right: 0;
  transition: 1s;
}
#category .container #content .row .col-xl-3 .categoryBox .imgCat {
  width: 100%;
  transition: 10s;
}
#category .container #content .row .col-xl-3 .categoryBox .textCategory {
  position: absolute;
  top: 40%;
  z-index: 999;
  font-size: 2.5rem;
  color: #fff;
  width: 100%;
  text-align: center;
}

#movies {
  background-color: rgb(11, 11, 13);
  display: flex;
  align-items: center;
  padding: 25px;
}
#movies .container .head {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
#movies .container .head h2 {
  color: #f6be00;
  font-weight: 500;
  font-size: 35px;
  position: relative;
}
#movies .container .head h2::after {
  position: absolute;
  left: 0;
  bottom: -0.7rem;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f6be00;
}
#movies .container .head p a {
  color: #fff;
  opacity: 0.7;
  margin: 0;
  transition: 1s;
  cursor: pointer;
}
#movies .container .head p a:hover {
  opacity: 1;
  color: #f6be00;
}
#movies .container #moviesProducts {
  display: flex;
  flex-wrap: wrap;
}
#movies .container #moviesProducts .moiveProBox {
  width: 324px;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}
#movies .container #moviesProducts .moiveProBox:hover .detailInfo {
  visibility: visible;
  opacity: 1;
}
#movies .container #moviesProducts .moiveProBox:hover img {
  scale: 1.2;
}
#movies .container #moviesProducts .moiveProBox img {
  width: 100%;
  height: 350px;
  transition: 7s;
  object-fit: cover;
}
#movies .container #moviesProducts .moiveProBox .detailInfo {
  opacity: 0;
  visibility: hidden;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  transition: 1s;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .wish {
  align-self: flex-end;
  cursor: pointer;
  transition: 1s;
  font-size: 1.5rem;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .wish:hover {
  color: #f6be00;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .content .detailContent {
  width: 80%;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .content p a {
  cursor: pointer;
  transition: 1s;
  color: #fff;
  font-weight: 500;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .content p a:hover {
  color: #f6be00;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .content .plays {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  transition: 1s;
}
#movies .container #moviesProducts .moiveProBox .detailInfo .content .plays:hover {
  background-color: #f6be00;
  color: #fff;
}
#movies .container #loadMore {
  padding: 10px;
  color: #000;
  background-color: #f6be00;
  margin: 1rem;
  width: 150px;
  transition: 1s;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid #f6be00;
}
#movies .container #loadMore i {
  margin: 0 0.3rem;
  transition: 0.5s;
}
#movies .container #loadMore:hover {
  background-color: #000;
  color: #f6be00;
  border: 2px solid #f6be00;
}
#movies .container #loadMore:hover i {
  rotate: -90deg;
}

footer {
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
footer .container .content .textFooter {
  width: 520px;
}
footer .container .content .textFooter p {
  margin: 1rem 0;
  font-size: 1.1rem;
}
footer .container .content .share {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
footer .container .content .share a i {
  color: #fff;
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
}
footer .container .content .share a i:hover {
  background-color: #f6be00;
}
footer .container .images {
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
footer .container .images .img img {
  width: 15rem;
  height: 3rem;
  opacity: 0.5;
  object-fit: cover;
  cursor: pointer;
  transition: 1s;
}
footer .container .images .img img:hover {
  opacity: 1;
}
footer p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #f6be00;
}

#burgerIcon {
  display: none;
}

@keyframes animePlay {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  footer .container .content .share a i {
    width: 2.5rem;
    height: 2.5rem;
  }
  footer .container .images .img {
    margin: 1rem 0;
  }
  #movies .container .head p {
    text-align: center;
  }
  #category .container .head h2 {
    font-size: 25px;
  }
  #movies .container .head h2 {
    font-size: 25px;
  }
  #category .container #content {
    justify-content: center;
  }
  #category {
    height: auto !important;
  }
  #category .container {
    height: auto !important;
  }
  .topTrend #categoryTrend .swipperSlide {
    width: 280px !important;
    height: 280px;
  }
  #trending .container .head h2 {
    font-size: 25px !important;
  }
  #hero .container .content {
    width: 75% !important;
  }
  #hero::before {
    content: "";
    display: none;
  }
  #hero .container {
    height: auto !important;
    background-position: center;
  }
  #hero {
    height: auto !important;
  }
  #hero .container .content .buttons button {
    width: 142px;
    height: 2.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #category {
    height: auto !important;
  }
  #category .container {
    height: auto !important;
  }
  header .container nav ul {
    width: 85%;
  }
  footer .container .images .img {
    margin: 1rem 0;
  }
}